{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 100,
        "tabWidth": 2,
        "useTabs": false,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    }
  ]
}
