{
  "printWidth": 100,
  "tabWidth": 2,
    "overrides": [
      {
        "files": "*.*.{ts,js}",
        "options": {
          "parser": "typescript",
          "trailingComma": "all",
          "arrowParens": "always",
          "singleQuote": true
        }
      },
      {
        "files": "*.sol",
        "options": {
          "bracketSpacing": true,
          "explicitTypes": "always"
        }
      }
    ]
}
