/* Define Custom fonts here */
/* Here's a blog for adding custom fonts: https://kirazhang.com/posts/nextjs-custom-fonts */
@font-face {
    font-family: 'Euclid Circular A';
    src: local('Euclid Circular A'), url('/fonts/EuclidCircularA/Regular.woff2') format('woff2'),
        url('/fonts/EuclidCircularA/Regular.woff') format('woff'),
        url('/fonts/EuclidCircularA/Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: local('Euclid Circular A'), url('/fonts/EuclidCircularA/Medium.woff2') format('woff2'),
        url('/fonts/EuclidCircularA/Medium.woff') format('woff'),
        url('/fonts/EuclidCircularA/Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: local('Euclid Circular A'), url('/fonts/EuclidCircularA/SemiBold.woff2') format('woff2'),
        url('/fonts/EuclidCircularA/SemiBold.woff') format('woff'),
        url('/fonts/EuclidCircularA/SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: local('Euclid Circular A'), url('/fonts/EuclidCircularA/Bold.woff2') format('woff2'),
        url('/fonts/EuclidCircularA/Bold.woff') format('woff'), url('/fonts/EuclidCircularA/Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}
  