{
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "always",
        "printWidth": 99999
      }
    }
  ]
}
