{
    "semi": false,
    "useTabs": false,
    "singleQuote": true,
    "printWidth": 79,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "singleQuote": false,
                "bracketSpacing": false,
                "explicitTypes": "always"
            }
        }
    ]
}
