{
    "overrides": [
      {
        "files": "*.sol",
        "options": {
          "printWidth": 100,
          "tabWidth": 4,
          "useTabs": true,
          "singleQuote": false,
          "bracketSpacing": true,
          "explicitTypes": "always"
        }
      }
    ]
  }