# Used to deploy to testnets
export HDWALLET_MNEMONIC=''

# Used to deploy to testnets
export INFURA_API_KEY=''

# Used for verifying contracts on Etherscan
export ETHERSCAN_API_KEY=''

# Required for forking
export ALCHEMY_URL=''
export FORK_ENABLED=''

# Used to hide deploy logs
export HIDE_DEPLOY_LOG=''

# Used to generate a gas usage report
export REPORT_GAS=''
export COINMARKETCAP_API_KEY=''
