node_modules

#Hardhat files
cache
#artifacts // keep artifacts in NPM package
.vscode

.env
yarn-error.log

#Buidler files
deployments
bin

#coverage
coverage
coverage.json
.coverage_cache
.coverage_contracts
.coverage_artifacts

miner*.json
.DS_Store
.DS_Store?