@font-face {
  font-family: 'Euclid Circular A';
  src: local('Euclid Circular A'), url('/fonts/EuclidCircularA/Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Euclid Circular A';
  src: local('Euclid Circular A'), url('/fonts/EuclidCircularA/Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Euclid Circular A';
  src: local('Euclid Circular A'), url('/fonts/EuclidCircularA/SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Euclid Circular A';
  src: local('Euclid Circular A'), url('/fonts/EuclidCircularA/Bold.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Euclid Circular B';
  src: local('Euclid Circular B'), url('/fonts/EuclidCircularB/Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Euclid Circular B';
  src: local('Euclid Circular B'), url('/fonts/EuclidCircularB/Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Euclid Circular B';
  src: local('Euclid Circular B'), url('/fonts/EuclidCircularB/SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Euclid Circular B';
  src: local('Euclid Circular B'), url('/fonts/EuclidCircularB/Bold.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

p {
  margin-bottom: 0;
}
