{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4,
        "arrowParens": "avoid",
        "bracketSpacing": true,
        "endOfLine": "auto",
        "printWidth": 120,
        "singleQuote": false,
        "trailingComma": "all",
      }
    }
  ]
}
