name: validate

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  integrity_validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4

      - name: check_contests_csv
        run: python scripts/check_contests_csv.py .
        working-directory: ./

      - name: check_contracts
        run: python scripts/check_contracts.py .
        working-directory: ./

      - name: check_git
        run: ./scripts/check_git.sh .
        working-directory: ./
