root = true

[*]
trim_trailing_whitespace = true

[*.{js,ts}]
insert_final_newline = true
indent_size = 2
indent_style = space

[*.sol]
insert_final_newline = true
indent_size = 4
indent_style = space
